*.o
*.lo
*.la
Makefile
Makefile.in
/libtool
/po/stamp-it
/src/.libs/*
/src/.deps/*
/src/Makefile.in
/autom4te.cache
/aclocal.m4
/config.h.in
/config.h
/configure
/config.sub
/config.guess
/missing
/stamp-h1
/compile
/config.log
/config.status
/depcomp
/install-sh
/config.guess
/config.sub
/ltmain.sh
/macros/ltoptions.m4
/macros/ltsugar.m4
/macros/ltversion.m4
/macros/lt~obsolete.m4